<%= form_for @user do |f| %>
  
  <% if @user.errors.present? %>
    <ul class="error">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  
  <fieldset id="user_fields">
    <legend>Rellena los datos de usuario</legend>
    <p>
      <%= f.label :username, "Nick" %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password, "Contraseña" %><br />
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation, "Confirma la contraseña" %><br />
      <%= f.password_field :password_confirmation %>
    </p>
    <p><%= f.submit "Guardar", :id => "password_form_submit" %></p>
  </fieldset>
<% end %>
