<% title h(@user.screen_name), false %>
<div id="profile_gravatar">
	<%= image_tag @user.gravatar_url %> <h1><%=h @user.screen_name %></h1>
</div>
<div id="user_details">
	<ul>
	  <li><strong>Reputación:</strong> <%= @user.karma %></li>
	  <li><strong>Miembro desde:</strong> <%=l @user.created_at %></li>
	
	<% if is_admin? %>
		<li><strong>Email:</strong> <%=h @user.email %> (Sólo visible para admins)</li>
	<% end %>
	</ul>
</div>
<% if can? :manage, User %>
	<% content_for :sidebar do%>
		<%= admin_links @user %>
	<% end %>
<% end %>
