<% title "Login" %>
<% form_for @user_session do |f| %>
	<%= f.error_messages %>
	<div id="openid_form">
	  <fieldset id="openid_fields">
		<legend>Usa OpenID para identificarte</legend> 
		<p>
			Si te has dado de alta en Wasamblea.org utilizando <a href="http://es.wikipedia.org/wiki/OpenID">OpenID</a>
			sólo pincha en el sitio donde tienes la cuenta y se te redigirá allí.
		</p>
		<p>
			Una vez que te hayas identificado volverás a Wasamblea.org.
		</p>
		</p>
		<div id="openid_links">
			<ul id="identity_providers">
			  <li id="openid" class="id_provider">
				<a href="#openid"><span>OpenId</span> <img src="/images/openid.gif" alt="Conectar con OpenId"/></a>
			  </li>
			  <li id="google" class="id_provider">
				<a href="#google"><span>Google</span> <img src="/images/google.gif" alt="Conectar con Google"/></a>
			  </li>
			  <li id="yahoo" class="id_provider">
				<a href="#yahoo"><span>Yahoo</span> <img src="/images/yahoo.gif" alt="Conectar con Yahoo!"/></a>
			  </li>
			</ul>
		</div>
		<div id="openid_field">
		<p>
		  <%= hidden_field_tag :openid_provider %>
		  <%= f.label :openid_identifier, "Idetificador de OpenId" %><br />
		  <%= f.text_field :openid_identifier %> <%= f.submit "Entrar"%>
		</p>
		</div>
	  </fieldset>
	</div>

	<div id="password_form">
	  <fieldset id="user_fields">
	  <legend>O entra con tu contraseña</legend>
	  <p>
	    <%= f.label :email, "Email" %><br />
	    <%= f.text_field :email %>
	  </p>
	  <p>
	    <%= f.label :password, "Contraseña" %><br />
	    <%= f.password_field :password %>
	  </p>
	  <p><%= f.submit "Entrar", :id => "password_form_submit" %></p>
	  </fieldset>
	</div>
<% end %>

<p id="alternate_register">
Si aún no tienes una cuenta en Wasamblea puedes darte de alta <%= link_to "en nuestra página de registro", new_user_url %>.
</p>